<p>welcome to Bookers !!</p><br>
<p>In Bookers,</p><br>

<p>you can share and exchange your opinions , inpressions , and emotions</p><br>

<p>about various books!</p><br>


<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>